PORT=3000
DB_SERVER=localhost
DB_PORT=
DB_INSTANCE=
DB_DRIVER=msnodesqlv8
DB_PROTOCOL=lpc
DB_USER=foodJet_backend
DB_PASSWORD=ContraseniaSegura.67!
DB_NAME=FoodjetBackend
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_TRUSTED_CONNECTION=false
